@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('NimbusSanL-Reg-webfont.eot');
    src: url('NimbusSanL-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('NimbusSanL-Reg-webfont.woff2') format('woff2'),
         url('NimbusSanL-Reg-webfont.woff') format('woff'),
         url('NimbusSanL-Reg-webfont.ttf') format('truetype'),
         url('NimbusSanL-Reg-webfont.svg#nimbus_sans_lregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	display: flex;
	flex-flow: row wrap;
	font-family: "nimbus_sans_lregular";
	margin: 8px;
	border-left: 1px solid silver; 
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;  
}		

p, li
{
	font-size: 0.96em;
	color: #404040;
	font-weight: lighter;
}

header
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 23px;
	margin-left: 103px;
}

h3
{
	font-size: 1.8em;
	color: #404040;
}

.Contact h2
{
	background-color: #404040;
	color: #FECA07;
	text-align: center;
}

.Cindy
{
	text-align: left;
	color: #FECA07;
}

.Paraiso
{
	position: relative;
	margin-left: 27px;
}

.Cindyparaiso
{
	display: flex;
	flex-direction: row;
	font-weight: lighter;
	font-size: 3.2em;
}

h3 span
{
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: #FECA07;
}

.Curriculum h2
{
	text-align: left;
	font-size:23px
	border:2px silver solid; 
}	

hr
{
	border: none;
	border-bottom: 2px solid #feca07;
	width: 97%
}

img 
{  
  margin: 43px 63px 32px 93px;
  width: 47%; 
  height: auto;
  border-radius: 50%;
  border: solid #dfb312 2px;
}  

.Contact
{
	width:	29%;
	background-color: #FECA07;
}

.Contact i
{
	color: #404040;
	font-size: 40px;
	border-radius: 50px;
	border: 2px solid #404040;
 }

.Contact p
{
	margin-left: 32px;
}

.apropos p
{
	text-align: left;
}

.loisirs
{
	margin-top: 132px;
}

.Curriculum h2 i
 { 
 	color: #FECA07; 
 	font-size: 43px;
 } 

.ul i
{
	font-size: 0.02px;
	color: #FECA07;
}	
	
.Curriculum
{
	width: 61%;
	margin-left: 3%;
}

li
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.latest
{
	list-style-image: i class="far fa-dit-circle";
	width: 60%;
}

.format
{
	width: 60%;
}

.experience
{
	display: inline-block;
	position: relative;
	left: 32px;
}

.Contact footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}

.recommandation
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
 
media all and (max-device-width: 480px)
 {
 	body
	{
	display: none;
	background-color: white;
	}
 } 
